<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>Focus Admin: Creative Admin Dashboard</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="~/Content/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/Content/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/Content/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="~/Content/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/Content/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/lib/helper.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="#">
                            <span>PAK <span>AIR</span></span>
                        </a>
                    </div>
                    <li class="label">Main</li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-home"></i> Dashboard
                        </a>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-user"></i> Customer Management
                        </a>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-ticket"></i> Booking Management
                        </a>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-id-badge"></i>Crew Management
                        </a>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-signal"></i>Flight Management
                        </a>

                    </li>

                    <li class="label">Apps</li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-bar-chart-alt"></i> Charts <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Flot</a></li>
                            <li><a href="#">Morris</a></li>
                            <li><a href="#">Chartjs</a></li>
                            <li><a href="#">Chartist</a></li>
                            <li><a href="#">Peity</a></li>
                            <li><a href="#">Sparkle</a></li>
                            <li><a href="#">Knob</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="ti-calendar"></i> Calender </a></li>
                    <li><a href="#"><i class="ti-email"></i> Email</a></li>
                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                    <li><a href="#"><i class="ti-layout-grid2-alt"></i> Widget</a></li>
                    <li class="label">Features</li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-layout"></i> UI Elements <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Alerts</a></li>

                            <li><a href="#">Button</a></li>
                            <li><a href="#">Dropdown</a></li>

                            <li><a href="#">List Group</a></li>

                            <li><a href="#">Progressbar</a></li>
                            <li><a href="#">Tab</a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-panel"></i> Components <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Carousel</a></li>
                            <li><a href="#">Weather</a></li>
                            <li><a href="#">Datamap</a></li>
                            <li><a href="#">To do</a></li>
                            <li><a href="#">Scrollable</a></li>
                            <li><a href="#">Sweet Alert</a></li>
                            <li><a href="#">Toastr</a></li>
                            <li><a href="#">Basic Range Slider</a></li>
                            <li><a href="#">Advance Range Slider</a></li>
                            <li><a href="#">Nestable</a></li>

                            <li><a href="#">Bar Rating</a></li>
                            <li><a href="#">jRate</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-layout-grid4-alt"></i> Table <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Basic</a></li>

                            <li><a href="#">Datatable Export</a></li>
                            <li><a href="#">Datatable Row Select</a></li>
                            <li><a href="#">Editable </a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-heart"></i> Icons <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Themify</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-map"></i> Maps <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Basic</a></li>
                            <li><a href="#">Vector Map</a></li>
                        </ul>
                    </li>
                    <li class="label">Form</li>
                    <li><a href="#"><i class="ti-view-list-alt"></i> Basic Form </a></li>
                    <li class="label">Extra</li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-files"></i> Invoice <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Basic</a></li>
                            <li><a href="#">Editable</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-target"></i> Pages <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Forgot password</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="ti-file"></i> Documentation</a></li>
                    <li><a><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">Recent Notifications</span>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">5 members joined today </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Mariam</div>
                                                        <div class="notification-text">likes a photo of you</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Tasnim</div>
                                                        <div class="notification-text">
                                                            Hi Teddy, Just wanted to let you
                                                            ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">
                                                            Hi Teddy, Just wanted to let you
                                                            ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <a href="#" class="more-link">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-email"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">2 New Messages</span>
                                        <a href="#">
                                            <i class="ti-pencil-alt pull-right"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/1.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Michael Qin</div>
                                                        <div class="notification-text">
                                                            Hi Teddy, Just wanted to let you
                                                            ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/2.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">
                                                            Hi Teddy, Just wanted to let you
                                                            ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Michael Qin</div>
                                                        <div class="notification-text">
                                                            Hi Teddy, Just wanted to let you
                                                            ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img"
                                                         src="~/Content/images/avatar/2.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">
                                                            02:34
                                                            PM
                                                        </small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">
                                                            Hi Teddy, Just wanted to let you
                                                            ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <a href="#" class="more-link">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">
                                    John
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">

                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-email"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-lock"></i>
                                                    <span>Lock Screen</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>




    <script src="~/Content/js/lib/jquery.min.js"></script>
    <script src="~/Content/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="~/Content/js/lib/menubar/sidebar.js"></script>
    <script src="~/Content/js/lib/preloader/pace.min.js"></script>
    <script src="~/Content/js/lib/bootstrap.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>




    <script src="~/Content/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/js/lib/moment/moment.js"></script>
    <script src="~/Content/js/lib/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/js/lib/calendar/fullcalendar-init.js"></script>

    <script src="~/Content/js/lib/flot-chart/excanvas.min.js"></script>
    <script src="~/Content/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="~/Content/js/lib/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/Content/js/lib/flot-chart/jquery.flot.time.js"></script>
    <script src="~/Content/js/lib/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/Content/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/Content/js/lib/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="~/Content/js/lib/flot-chart/curvedLines.js"></script>
    <script src="~/Content/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/js/lib/flot-chart/flot-chart-init.js"></script>

    <!--  Chartist -->
    <script src="~/Content/js/lib/chartist/chartist.min.js"></script>
    <script src="~/Content/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/Content/js/lib/chartist/chartist-init.js"></script>

    <!--  Chartjs -->
    <script src="~/Content/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/Content/js/lib/chart-js/chartjs-init.js"></script>

    <!--  Knob -->
    <script src="~/Content/js/lib/knob/jquery.knob.min.js "></script>
    <script src="~/Content/js/lib/knob/knob.init.js "></script>

    <!--  Morris -->
    <script src="~/Content/js/lib/morris-chart/raphael-min.js"></script>
    <script src="~/Content/js/lib/morris-chart/morris.js"></script>
    <script src="~/Content/js/lib/morris-chart/morris-init.js"></script>

    <!--  Peity -->
    <script src="~/Content/js/lib/peitychart/jquery.peity.min.js"></script>
    <script src="~/Content/js/lib/peitychart/peitychart.init.js"></script>

    <!--  Sparkline -->
    <script src="~/Content/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/lib/sparklinechart/sparkline.init.js"></script>

    <!-- Select2 -->
    <script src="~/Content/js/lib/select2/select2.full.min.js"></script>

    <!--  Validation -->
    <script src="~/Content/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="~/Content/js/lib/form-validation/jquery.validate-init.js"></script>

    <!--  Circle Progress -->
    <script src="~/Content/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/js/lib/circle-progress/circle-progress-init.js"></script>

    <!--  Vector Map -->
    <script src="~/Content/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="~/Content/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/Content/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.algeria.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.argentina.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.brazil.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.france.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.germany.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.greece.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.iran.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.iraq.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.russia.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.europe.js"></script>
    <script src="~/Content/js/lib/vector-map/country/jquery.vmap.usa.js"></script>

    <!--  Simple Weather -->
    <script src="~/Content/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/Content/js/lib/weather/weather-init.js"></script>

    <!--  Owl Carousel -->
    <script src="~/Content/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/js/lib/owl-carousel/owl.carousel-init.js"></script>

    <!--  Calender 2 -->
    <script src="~/Content/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="~/Content/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="~/Content/js/lib/calendar-2/pignose.init.js"></script>


    <!-- Datatable -->
    <script src="~/Content/js/lib/data-table/datatables.min.js"></script>
    <script src="~/Content/js/lib/data-table/buttons.dataTables.min.js"></script>
    <script src="~/Content/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/Content/js/lib/data-table/jszip.min.js"></script>
    <script src="~/Content/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/data-table/datatables-init.js"></script>

    <!-- JS Grid -->
    <script src="~/Content/js/lib/jsgrid/db.js"></script>
    <script src="~/Content/js/lib/jsgrid/jsgrid.core.js"></script>
    <script src="~/Content/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="~/Content/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="~/Content/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="~/Content/js/lib/jsgrid/jsgrid.field.js"></script>
    <script src="~/Content/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="~/Content/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="~/Content/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="~/Content/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="~/Content/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
    <script src="~/Content/js/lib/jsgrid/jsgrid-init.js"></script>

    <!--  Datamap -->
    <script src="~/Content/js/lib/datamap/d3.min.js"></script>
    <script src="~/Content/js/lib/datamap/topojson.js"></script>
    <script src="~/Content/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="~/Content/js/lib/datamap/datamap-init.js"></script>

    <!--  Nestable -->
    <script src="~/Content/js/lib/nestable/jquery.nestable.js"></script>
    <script src="~/Content/js/lib/nestable/nestable.init.js"></script>

    <!--ION Range Slider JS-->
    <script src="~/Content/js/lib/rangeSlider/ion.rangeSlider.min.js"></script>
    <script src="~/Content/js/lib/rangeSlider/moment.js"></script>
    <script src="~/Content/js/lib/rangeSlider/moment-with-locales.js"></script>
    <script src="~/Content/js/lib/rangeSlider/rangeslider.init.js"></script>

    <!-- Bar Rating-->
    <script src="~/Content/js/lib/barRating/jquery.barrating.js"></script>
    <script src="~/Content/js/lib/barRating/barRating.init.js"></script>

    <!-- jRate -->
    <script src="~/Content/js/lib/rating1/jRate.min.js"></script>
    <script src="~/Content/js/lib/rating1/jRate.init.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Content/js/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/js/lib/sweetalert/sweetalert.init.js"></script>

    <!-- Toastr -->
    <script src="~/Content/js/lib/toastr/toastr.min.js"></script>
    <script src="~/Content/js/lib/toastr/toastr.init.js"></script>






</body>

</html>
